.main_container {
    margin: 10px;
    height: 100px;
}

.time {
    max-width: 100px;
    background: #7ce1e1;
    padding: 5px;
    border-radius: 5px;
}

.date {
    background: #7aafd9;
    max-width: 100px;
    padding: 5px;
    border-radius: 5px;
}

.buttons {
    position:absolute;
    bottom: 30px;
}