.header {
    display: flex;
    justify-content: left;
    background-color: #326896;
    width: 420px;
    margin-top: 10px;
    border-radius: 0 20px 20px 0;

    transition-duration: 500ms;
    transform: translate(-380px);
}

.header:hover {
    transition-duration: 500ms;
    transform: translate(0);
}

.link {
    text-decoration: none;
    color: #a3e7ff;
    margin: 5px;
    padding: 5px;
}

.link:hover {
    background: rgba(148, 96, 250, 0.5);
    border-radius: 5px;
}

.active {
    background: rgb(148, 96, 250);
    border-radius: 5px;
    color: black;
}